<!-- Page2: check-in &  Youtube 가져오기  -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>뚜루뚜루</title>

    <!-- 1rem = 10px -->
    <style>
      html {
        font-size: 10px;
      }
      body {
        font-size: 10px;
      }
    </style>

    <!-- HTML에 이 부분을 추가하고 -->
    <!-- <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    /> -->

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='/css/cccstyle.css') }}"
    />

    <!-- Required meta tags -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script> -->

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>

  <body>
    <script>
      // 체크인 버튼 누르면 데베에 체크인시간 Post ->  GET - > calendar에 표시

      function checkinDate() {
        let today = new Date();
        let year = today.getFullYear(); // 년도
        let month = today.getMonth() + 1; // 월
        let date = today.getDate(); // 날짜
        let day = today.getDay(); // 요일
        var week = new Array(
          "Sun",
          "Mon",
          "Tues",
          "Wednes",
          "Thurs",
          "Fri",
          "Satur"
        );

        let day_letter = week[today.getDay()] + "day";

        let mmdd = month + "/" + date;

        console.log(mmdd);
        console.log(day_letter);

        $.ajax({
          type: "POST", // POST 방식으로 요청하겠다.
          url: "/postCheckin", // /post라는 url에 요청하겠다.
          data: { date_give: mmdd, day_give: day_letter }, // 데이터를 주는 방법
          success: function(response) {
            // 성공하면
            if (response["result"] == "success") {
              alert("체크인 성공!");

              // window.location.reload();
            } else {
              alert("서버 오류!");
            }

            get_postCheckin();
            get_PersonalInfo();
          }
        });
      }

      function get_postCheckin() {
        $.ajax({
          type: "GET",
          url: "/postCheckin",
          data: {},

          success: function(response) {
            let checkin_info = response["CheckInTest"];

            // console.log(msg);
            console.log(response["CheckInTest"]);
            console.log(checkin_info);

            let checkinNumbers = checkin_info.length;
            let startingNumber = checkinNumbers - 24;

            for (let i = startingNumber; i < checkinNumbers; i++) {
              let date = checkin_info[i]["Date"];
              let day = checkin_info[i]["Day"];
              let k = [i] - startingNumber + 1;
              // console.log(k);
              let changeday = "." + "changeday" + String(k);
              let changedate = "." + "changedate" + String(k);

              changeText(i);

              function changeText(i) {
                $(changeday).text(day);
                $(changedate).text(date);
              }
            }
          }
        });
      }

      //  DB에서 재생목록 썸네일 Url  GET

      let fourLinks = [];
      let link_one = "";
      let link_two = "";
      let link_three = "";
      let link_four = "";

      function get_PersonalInfo() {
        $.ajax({
          type: "GET",
          url: "/post",
          data: {},
          success: function(response) {
            let personalInfoData = response["personalInfo"];
            console.log(personalInfoData);

            // 딕셔너리에서 랜덤 4개 추출
            //Min, Max, Number
            // setRand(7, 10, 3);

            // randomFourNubers가 랜던 숫자 4개 list 형태로 나옴

            let maxNumber = personalInfoData.length - 1;

            setRand(0, maxNumber, 4);

            function setRand(min, max, number) {
              randResult = new Array();
              randList = new Array();
              for (i = min; i <= max; i++) {
                randList.push(i);
              }
              for (i = 0; i < number; i++) {
                getRand();
              }
              let randomFourNumbers = randResult;
              console.log(randomFourNumbers);

              callFourPersonal();

              function callFourPersonal() {
                let firstPlace = Number(randomFourNumbers[0]);
                let secondPlace = Number(randomFourNumbers[1]);
                let thirdPlace = Number(randomFourNumbers[2]);
                let fourthPlace = Number(randomFourNumbers[3]);

                let firstPersonalInfo = personalInfoData[firstPlace];
                let secondPersonalInfo = personalInfoData[secondPlace];
                let thirdPersonalInfo = personalInfoData[thirdPlace];
                let fourthPersonalInfo = personalInfoData[fourthPlace];

                let finalFourPersonalInfo = [
                  firstPersonalInfo,
                  secondPersonalInfo,
                  thirdPersonalInfo,
                  fourthPersonalInfo
                ];

                console.log("에에ㅔ에에에에");
                console.log(firstPersonalInfo);
                console.log(secondPersonalInfo);
                console.log(thirdPersonalInfo);
                console.log(fourthPersonalInfo);

                console.log("흐아아아아ㅏ앙");
                console.log(finalFourPersonalInfo);

                changeInfo();

                // 삽입 구간
                function changeInfo() {
                  for (let i = 0; i < 4; i++) {
                    let Thumbnail = finalFourPersonalInfo[i]["thumbnailURL"];
                    let Url = finalFourPersonalInfo[i]["URLz"];
                    let Title = finalFourPersonalInfo[i]["Title"];

                    fourLinks.push(finalFourPersonalInfo[i]["URLz"]);

                    ////////////////////////// 썸네일 추가

                    // 타이틀 입력, 체크인 버튼 입력
                    let k = i + 1;
                    console.log(k);
                    let ThumbnailQuo = '"' + Thumbnail + '"';
                    let elementID = "img" + String(k);
                    // let sharpElementID = '"' + "#" + "img" + String(k) + '"';
                    let sharpElementID = '"' + "#" + "img" + String(k) + '"';
                    let insertTitle = "." + "insertTitle" + String(k);
                    // let insertButtonText = "." + "insertButtonText" + String(k);
                    console.log("여기까지1");
                    console.log(elementID);
                    console.log(ThumbnailQuo);

                    let img = document.getElementById(elementID);
                    // let img = document.getElementById(elementID);
                    img.src = Thumbnail;

                    // $(sharpElementID).attr("src", ThumbnailQuo);
                    // document.getElementById(elementID).src = ThumbnailQuo;

                    // $("#id1").attr("src", ThumbnailQuo);
                    console.log("여기까지11");
                    insertText();

                    function insertText() {
                      console.log("여기까지2");
                      console.log(insertTitle);
                      console.log(Title);
                      $(insertTitle).text(Title);
                      console.log("여기까지3");
                      // $(insertButtonText).text("watch");
                    }
                    console.log("여기까지12");

                    console.log("여기까지13");
                  }
                }
              }
            }

            function getRand() {
              randNumber = Math.floor(Math.random() * randList.length);
              randResult.push(randList[randNumber]);
              randList.splice(randNumber, 1);
            }
          }
        });
      }

      function watchButtonClick1() {
        console.log("바쁘게");
        console.log(fourLinks);
        console.log("살아온");

        location.href = fourLinks[0];

        // console.log("여기까지14");
      }

      function watchButtonClick1() {
        location.href = fourLinks[0];
      }

      function watchButtonClick2() {
        location.href = fourLinks[1];
      }
      function watchButtonClick3() {
        location.href = fourLinks[2];
      }
      function watchButtonClick4() {
        location.href = fourLinks[3];
      }

      function seeyou() {
        console.log("바쁘게");
        console.log(fourLinks);
        console.log("살아온");
      }

      // // 개인 정보 삽입 기능 따로 추가
      // function inputPersonalInfo() {
      //   for (let i = 0; i < 4; i++) {
      //     // 네개 합쳐야 함

      //     let ID = finalFourPersonalInfo[i]["ownerID"];
      //     let videoURL = finalFourPersonalInfo[i]["URLz"];
      //     let videoTitle = finalFourPersonalInfo[i]["Title"];
      //     let thumbnailURL = finalFourPersonalInfo[i]["thumbnailURL"];

      //     //  여기부터 루프 돌면서 삽입기능 추가

      //     let changeday = "." + "changeday" + String(k);
      //     let changedate = "." + "changedate" + String(k);

      //     changeText(i);

      //     function changeText(i) {
      //       $(changeday).text(day);
      //       $(changedate).text(date);
      //     }
      //   }
      // }
    </script>
    <!-- footer -->
    <div class="headerFrame">
      <div class="headerBox">
        <div class="YoutubelogoBox">
          <img
            class="YoutubeMainLogo"
            src="{{ url_for('static', filename='/css/youtubeLogo.png') }}"
          />
        </div>

        <div class="YoutubeTextBox">
          <div class="YoutubeText">
            Youtube
          </div>
        </div>

        <div class="AcademyTextBox">
          <div class="AcademyText">
            Academy
          </div>
        </div>
      </div>
    </div>

    <!-- 왼쪽  캘린더  -->

    <!-- 본문 박스 입니다. -->
    <div class="fullBody">
      <!-- 왼쪽 박스 입니다.  -->
      <div class="leftBody">
        <div class="leftBox">
          <div class="smallTitleBoxLeft">
            <div class="smallTitleTextLeft">Check-In</div>
          </div>

          <!-- 캘린더 시작 -->
          <div class="calendarBoxOuter">
            <div class="calendarBoxInner">
              <div class="calendarRow1">
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday1"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate1"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday2"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate2"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday3"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate3"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday4"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate4"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday5"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate5"></p>
                  </div>
                </div>
              </div>

              <div class="calendarRow2">
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday6"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate6"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday7"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate7"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday8"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate8"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday9"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate9"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday10"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate10"></p>
                  </div>
                </div>
              </div>

              <div class="calendarRow3">
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday11"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate11"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday12"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate12"></p>
                  </div>
                </div>
                <div class="checkinBox">
                  <button class="checkinButton" onclick="checkinDate()">
                    Check-In
                  </button>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday13"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate13"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday14"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate14"></p>
                  </div>
                </div>
              </div>

              <div class="calendarRow4">
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday15"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate15"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday16"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate16"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday17"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate17"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday18"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate18"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday19"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate19"></p>
                  </div>
                </div>
              </div>

              <div class="calendarRow5">
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday20"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate20"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday21"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate21"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday22"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate22"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday23"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate23"></p>
                  </div>
                </div>
                <div class="indiBox">
                  <div class="DayBox">
                    <p class="changeday24"></p>
                  </div>
                  <div class="DateBox">
                    <p class="changedate24"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 오른쪽 박스입니다. -->
      <div class="rightBody">
        <div class="rightBox">
          <div class="smallTitleBoxRight">
            <div class="smallTitleTextRight">From your Playlist</div>
          </div>

          <div class="videoBoxOuter">
            <div class="videoBoxInner">
              <div class="videoBoxRow1">
                <div class="videoOneBox">
                  <div class="videoOneThumbnailBox">
                    <img
                      src="{{ url_for('static', filename='/css/youtubeLogo.png') }}"
                      class="image"
                      id="img1"
                    />
                    <!-- alt="{{ url_for('static', filename='/css/youtubeLogo.png') }}" -->
                  </div>
                  <div class="videoOneTitleBox">
                    <div class="videoOneTitleTextBox">
                      <p class="insertTitle1"></p>
                    </div>
                  </div>

                  <div class="videoOneButtonArea">
                    <div class="videoOneButtonBox">
                      <button
                        class="videoOneButton"
                        onclick="watchButtonClick1()"
                      >
                        watch
                      </button>
                    </div>
                  </div>
                </div>

                <div class="videoOneBox">
                  <div class="videoOneThumbnailBox">
                    <img
                      src="{{ url_for('static', filename='/css/youtubeLogo.png') }}"
                      class="image"
                      id="img2"
                    />
                  </div>
                  <div class="videoOneTitleBox">
                    <div class="videoOneTitleTextBox">
                      <p class="insertTitle2"></p>
                    </div>
                  </div>

                  <div class="videoOneButtonArea">
                    <div class="videoOneButtonBox">
                      <button
                        class="videoOneButton"
                        onclick="watchButtonClick2()"
                      >
                        watch
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="videoBoxRow2">
                <div class="videoOneBox">
                  <div class="videoOneThumbnailBox">
                    <img
                      src="{{ url_for('static', filename='/css/youtubeLogo.png') }}"
                      class="image"
                      id="img3"
                    />
                  </div>
                  <div class="videoOneTitleBox">
                    <div class="videoOneTitleTextBox">
                      <p class="insertTitle3"></p>
                    </div>
                  </div>

                  <div class="videoOneButtonArea">
                    <div class="videoOneButtonBox">
                      <button
                        class="videoOneButton"
                        onclick="watchButtonClick3()"
                      >
                        watch
                      </button>
                    </div>
                  </div>
                </div>

                <div class="videoOneBox">
                  <div class="videoOneThumbnailBox">
                    <img
                      src="{{ url_for('static', filename='/css/youtubeLogo.png') }}"
                      class="image"
                      id="img4"
                    />
                  </div>
                  <div class="videoOneTitleBox">
                    <div class="videoOneTitleTextBox">
                      <p class="insertTitle4"></p>
                    </div>
                  </div>

                  <div class="videoOneButtonArea">
                    <div class="videoOneButtonBox">
                      <button
                        class="videoOneButton"
                        onclick="watchButtonClick4()"
                      >
                        watch
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- //////////////////////////////////////////////////////////// -->
<!-- body에 꼭 집어넣어야함 -->
<!-- <button onclick="call()">sssss</button>
 <button onclick="checkinDate()">aaaaaaa</button>

 <p>ddddd하세요.</p>
 <p class="changeday1">a</p>
 <p class="changeday2">ㅎㅎㅎㅎ</p>
 <p class="changeday3">ㅎㅎㅎㅎ</p>
 <p class="changeday4">ggg</p>
 <p class="changeday5">ㅎㅎㅎㅎ</p>
 <p class="changeday6">ㅎㅎㅎㅎ</p>
 <p class="changeday7">ㅎㅎㅎㅎ</p>
 <p class="changeday8">ㅎㅎㅎㅎ</p>
 <!-- <p class="changeday9">a</p>
<p class="changeday10">ㅎㅎㅎㅎ</p>
<p class="changeday11">ㅎㅎㅎㅎ</p>
<p class="changeday12">ggg</p>
<p class="changeday13">ㅎㅎㅎㅎ</p>
<p class="changeday14">ㅎㅎㅎㅎ</p>
<p class="changeday15">ㅎㅎㅎㅎ</p>
<p class="changeday16">ㅎㅎㅎㅎ</p>
<p class="changeday17">ㅎㅎㅎㅎ</p>
<p class="changeday18">ㅎㅎㅎㅎ</p>
<p class="changeday19">ㅎㅎㅎㅎ</p>
<p class="changeday20">ㅎㅎㅎㅎ</p>
<p class="changeday21">ㅎㅎㅎㅎ</p>
<p class="changeday22">ㅎㅎㅎㅎ</p>
<p class="changeday23">ㅎㅎㅎㅎ</p>
<p class="changeday24">ㅎㅎㅎㅎ</p> -->

<!-- <p class="classss">날짜하세요.</p> -->

<!-- //////////////////////////////////////////////////////////// -->
