<!-- Page1: login Youtube Api  -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Log-in Page</title>

    <!-- 1rem = 10px -->
    <style>
      html {
        font-size: 10px;
      }
      body {
        font-size: 10px;
      }
    </style>

    <!-- HTML에 이 부분을 추가하고 -->
    <!-- <link
      href="https://fonts.googleapis.com/css?family=Stylish&display=swap"
      rel="stylesheet"
    /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='/css/mystyle.css') }}"
    />
    <!-- Required meta tags -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
      console.log("qqq");

      // YouTube & Google API 통해서 playlist item 가져오기//////////////////////////////////////////////
      // 최대 50개밖에 출력이 안되기 때문에 자동으로 50개 단위로 재접속해서 가져올 수 있도록 설정

      function call(nextToken) {
        // 상황에 따라 변경되는 내용을 변수로 지정

        // /////////////////////////////////////////////////////////API 잠시 끄기  ///////////////////////////////////
        // let ownerID = "JeeSoo";
        // let apiKey = "AIzaSyAqeOM2ZmHdwI8lgV75x5D3oplIN_Iw1eo";
        // let playlistId = "PL3g4-ArZ2i-_HGN_h3xty5rZYxeljb3Xp";

        // let url =
        //   "https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&playlistId=" +
        //   playlistId +
        //   "&key=" +
        //   apiKey +
        //   "&maxResults=50";

        // /////////////////////////////////////////////////////////API 잠시 끄기  ///////////////////////////////////

        // ////////API 끄고 테스트용//////////////////////////////////////API 잠시 끄기  ///////////////////////////////////
        let ownerID = "Jao";
        let apiKey = "Aaa";
        let playlistId = "ep";

        let url = "zzzzzzzz";
        //////API 끄고 테스트용//////////////////////////////////////API 잠시 끄기  ///////////////////////////////////

        // (XMLHttpRequest 객체 이용) 페이지를 전환하지 않고 브라우저한테 몰래 이 주소로 접속해서 정보를 가져오라고 시킴
        let req = new XMLHttpRequest();
        let pageToken = "";
        // nextToken이 있으면 토큰명 변경
        if (nextToken) {
          pageToken = "&pageToken=" + nextToken;
        }
        // 변수로 지정한 url 주소로 접속하라고 요청
        req.open("GET", url + pageToken, true);
        // 접속이 끝나고 뭘 해야되는지 정의
        req.onreadystatechange = function(aEvt) {
          // 접속이 끝나면
          if (req.readyState == 4) {
            // 접속이 성공했다면
            if (req.status == 200) {
              // 이 코드 실행. JSON.parse로 만든 객체를 result에 저장
              let result = JSON.parse(req.responseText);
              let items = result.items;
              let urls = [];
              let titles = [];
              let thumbnails = [];
              let DataSet = [];
              for (let i = 0; i < items.length; i++) {
                // 비디오아이디를 변수로 지정
                let vid = items[i].snippet.resourceId.videoId;
                // 비디오 아이디 이용 영상 url을 변수로 지정
                let vurl =
                  "https://www.youtube.com/watch?v=" +
                  vid +
                  "&t=2s&index=1&list=PL3g4-ArZ2i-_HGN_h3xty5rZYxeljb3Xp";

                let playlistitem_title = items[i].snippet.title;
                let playlistitem_url = vurl;
                let playlistitem_thumbnail =
                  items[i].snippet.thumbnails.medium.url;

                titles.push(playlistitem_title);
                urls.push(playlistitem_url);
                thumbnails.push(playlistitem_thumbnail);

                DataSet.push({
                  ownerID: "Jeee",
                  Title: playlistitem_title,
                  URLz: playlistitem_url,
                  thumbnailURL: playlistitem_thumbnail
                });
              }
              console.log(titles);
              // console.log(title);
              console.log(urls);
              // console.log(url);

              console.log(thumbnails);

              console.log(DataSet);

              $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/post",
                data: JSON.stringify(DataSet), // convert array to JSON
                dataType: "json",
                // cache: false,
                // timeout: 100000,
                success: function(data) {
                  console.log("SUCCESS : ", data);
                },
                error: function(e) {
                  console.log("ERROR : ", e);
                }
              });

              // token 하나 다 돌린 뒤 다음페이지 토큰이 있으면 또 다시 콜해서 두번째 토큰 돌림.
              if (result.nextPageToken) {
                call(result.nextPageToken);
              }
              // 접속이 실패하면 이 코드 실행
            } else {
              console.log("Error loading page");
            }

            /////////////// 다음페이지 함수 호출
            function topagetwo() {
              window.location.href = "/mypage";
            }

            topagetwo();
          }
        };

        // 접속 시작
        req.send(null);
      }
    </script>
  </head>

  <body>
    <!-- footer -->
    <div class="headerFrame">
      <div class="headerBox">
        <div class="YoutubelogoBox">
          <img
            class="YoutubeMainLogo"
            src="{{ url_for('static', filename='/css/youtubeLogo.png') }}"
          />
        </div>

        <div class="YoutubeTextBox">
          <div class="YoutubeText">
            Youtube
          </div>
        </div>

        <div class="AcademyTextBox">
          <div class="AcademyText">
            Academy
          </div>
        </div>
      </div>
    </div>

    <!-- 왼쪽  캘린더  -->

    <!-- 본문 박스 입니다. -->

    <div class="fullBody">
      <div class="loginFullBox">
        <div class="profileBox">
          <div class="YoutubeProfileBox">
            <img
              class="YoutubeProfileImage"
              src="{{ url_for('static', filename='/css/youtubeLogo.png') }}"
            />
          </div>
        </div>

        <div class="IdLine">
          <div class="IDText">
            <div class="text">Email</div>
          </div>
          <div class="IDInputBox">
            <div class="text">zamilzzz@gmail.com</div>
          </div>
        </div>

        <div class="APILine">
          <div class="APIText"><div class="text">Google API Key</div></div>
          <div class="APIInputBox">
            <div class="text">AIzaSyAqeOM2ZmH******************</div>
          </div>
        </div>

        <div class="PlaylistLine">
          <div class="PlaylistText"><div class="text">Playlist Name</div></div>
          <div class="PlaylistInputBox"><div class="text">LEVEL-UP</div></div>
        </div>
        <div class="ButtonLine">
          <div class="ButtonBox">
            <button class="Button" onclick="call()">Sign in</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
